#full-screen-image img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    #full-screen-image img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1030;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}
.wrapper:after {
    display: table;
    clear: both;
    content: " ";
}
.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.full-page:after, .full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.full-page:before {
    opacity: .33;
    background: #000000;
}
.full-page:after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.4)));
    background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.4) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}
.full-page > .content,
.full-page > .footer {
    position: relative;
    z-index: 4;
}
.full-page > .content {
    min-height: calc(100vh - 70px);
}
.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}   
.full-page .footer nav > ul a:not(.btn),
.full-page .footer,
.full-page .footer .copyright {
    color: #FFFFFF;
    font-size: 14px;
}

.login-page > .content,
.lock-page > .content {
    padding-top: 22vh;
}

.login-page .card {
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.login-page .card.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}
.login-page .card .header {
    padding-bottom: 30px;
}
.login-page .card .btn-wd {
    min-width: 180px;
}