{% extends "base-view.html" %}

{% block title %}
  Resident profile
{% endblock title %}

{% block css %}
  {% load static %}
{% endblock css %}

{% block card_info %}
<div class="row">
  <div class="col-sm-6">
    <table width="100%">
      <tr>
        <td colspan="2">
          <h4>Personal information</h4>
        </td>
      </tr>
      <tr>
        <th>First name:</th>
        <td>{{ object.fname }}</td>
      </tr>
      <tr>
        <th>Middle name:</th>
        <td>{{ object.mname }}</td>
      </tr>
      <tr>
        <th>Last name:</th>
        <td>{{ object.lname }}</td>
      </tr>
      <tr>
        <th>Age:</th>
        <td>{{ object.age }}</td>
      </tr>
      <tr>
        <th>Birthdate:</th>
        <td>{{ object.bdate }}</td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td>{{ object.get_gender_display }}</td>
      </tr>
      <tr>
        <th>Spouse:</th>
        <td>{{ object.spouse }}</td>
      </tr>
      <tr>
        <th>Children:</th>
        <td>{{ object.children }}</td>
      </tr>
      <tr>
        <th>Civil status:</th>
        <td>{{ object.get_civil_status_display }}</td>
      </tr>
      <tr>
        <th>Occupation:</th>
        <td>{{ object.occupation }}</td>
      </tr>
      <tr>
        <th>Educational attainment:</th>
        <td>{{ object.get_educational_attainment_display }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{ object.get_status_display }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <table width="100%">
      <tr>
        <td colspan="2">
          <h4>Contact information</h4>
        </td>
      </tr>
      <tr>
        <th>Address:</th>
        <td>{{ object.address }}</td>
      </tr>
      <tr>
        <th>Phone number:</th>
        <td>{{ object.phone_number }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <h4>Household information</h4>
        </td>
      </tr>
      <tr>
        <th>Common garbage disposal:</th>
        <td>{{ object.common_garbage_disposal }}</td>
      </tr>
      <tr>
        <th>Source of water supply:</th>
        <td>{{ object.source_of_water_supply }}</td>
      </tr>
      <tr>
        <th>Toilet type:</th>
        <td>{{ object.toilet_type }}</td>
      </tr>
      <tr>
        <th>Common agri-products:</th>
        <td>{{ object.common_agri_products }}</td>
      </tr>
      <tr>
        <th>Kinds of animals:</th>
        <td>{{ object.kinds_of_animals }}</td>
      </tr>
      <tr>
        <th>Type of dwelling unit:</th>
        <td>{{ object.type_of_dwelling_unit }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock card_info %}

{% block author_photo %}
  {% if object.photo %}
    <img src="{{ object.photo.url }}" alt="resident photo"
      class="avatar border-gray" />
  {% else %}
    {% if object.gender == 'm' %}
      <img src="{% static "img/default/male.png" %}" 
        alt="resident photo" width="50" class="avatar border-gray"/>
    {% else %}
      <img src="{% static "img/default/female.png" %}" 
        alt="resident photo" width="50" class="avatar border-gray"/>
    {% endif %}
  {% endif %}
{% endblock author_photo %}

{% block author_name %}
  {{ object.fname }} {{ object.lname }}
{% endblock author_name %}

{% block author_username %}
  {% if object.age %}
    {{ object.age }} year{{ object.age|pluralize }} old
  {% endif %}
{% endblock author_username %}

{% block description %}
  {{ object.address }}
{% endblock description %}

{% block contact %}
  {{ object.phone_number }}
{% endblock contact %}

{% block js %}
  <script src="{% static "residents/js/main.js" %}"></script>
{% endblock js %}