{% extends "certificates/base-cert.html" %}

{% block body %}
  <div class="display-table">
    <div class="display-table-row">
      <div class="display-table-cell text-center">
        <b>Office of the Punong Barangay</b>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell text-center">
        <b>CERTIFICATION</b>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell">
        To whom it may concern:
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell">
        <p>
          This is to certify that <span contenteditable="true"></span> years old is 
          a resident of this Barangay and is a member of the indigent group.
        </p>
        <p>
          This certification is being issued for <span contenteditable="true"></span> 
          this <span contenteditable="true"></span> day of 
          <span contenteditable="true"></span>, 2017 at Dili, Bauang La Union.
        </p>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell" style="text-align: right;">
        <b style='text-transform: uppercase'>{{ punong_brgy }}</b><br />
        Punong Barangay
      </div>
    </div>
  </div>
{% endblock body %}
    