{% extends "certificates/base-cert.html" %}

{% block body %}
  <div class="display-table">
    <div class="display-table-row">
      <div class="display-table-cell text-center">
        <b>Office of the Punong Barangay</b>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell text-center">
        <b>CERTIFICATION</b>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell">
        To whom it may concern:
        <p>
          This is to certify that <span contenteditable="true"></span>, 
          <span contenteditable="true"></span> years of age,
          <span contenteditable="true"></span>, 
          is a registered resident of Barangay Dili, Bauang, La Union and owner of
          <span contenteditable="true"></span>
          been non-operated for the month of <span contenteditable="true"></span>.
        </p>
            
        <p>
          This is certification is issued upon 
          <span contenteditable="true"></span> request for 
          <span contenteditable="true"></span> purposes that may serve 
          <span contenteditable="true"></span> this 
          <span contenteditable="true"></span> day of 
          <span contenteditable="true"></span>, 
          <span contenteditable="true"></span> at Dili, Bauang, La Union.
        </p>
      </div>
    </div>
    
    <div class="display-table-row">
      <div class="display-table-cell" style="text-align: right;">
        <b style="text-transform: uppercase;">{{ punong_brgy }}</b><br />
        Punong Barangay
      </div>
    </div>
  </div>
{% endblock body %}
    